 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link href="css/estilo.css" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="headbar">

</div>
<body>
<div class="container">



</body>





<div class="bigbluebar">

<h1 align="left">&nbsp &nbsp Notificaciones <span class="label label-default">12</span></h1>

<font size="6">
   


</font>
<div class="subbigbluebar">

<div class="carouselblock">

  <!-- Left and right controls -->














</div>
<div>
<pre style="background-color:#4772DE; border-color:#4772DE;">


</pre>
     

      


   

</div>
</div>
</div>
</div>


<div clas="rightbar">
<!-- 
CODIGO ENRIQUE NAVBAR -->


</div>

<style>
body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px 28px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FF8000;
}

.active {
    background-color: #2E9AFE;
}
</style>
</head>
<body>

<ul>
  <li><a href="#" class="navbar-brand"><img src="dailyJustLogo.png" height="100%"; width="100%"; align="middle">
  </a></li>
  <li><a href="#home"><span class="glyphicon glyphicon-home"></span></a></li>
  <li><a href="#user"><span class="glyphicon glyphicon-user"></span></a></li>
  <li><a href="#notification"><span class="glyphicon glyphicon-bell"></span></a></li>
  <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->
  <li style="float:right"><button class="btn btn-outline-success" type="button">CALENDARIO</button></li>
   <div class="divider"/></div>
  <li style="float:right"><button class="btn btn-outline-success" type="button">CREAR EVENTO</button></li>
</ul>
<style>
    .btn-squared-default
    {
        width: 100px !important;
        height: 100px !important;
        font-size: 12px;
text-align:center;
 padding-left:6px ;
        justify-content: "center";
    }

        .btn-squared-default:hover
        {
            border: 0px solid white;
           text-align:center;
        justify-content: "center";
        }

    .btn-squared-default-plain
    {
        width: 100px !important;
        height: 100px !important;
        text-align:center;
 padding-left:6px ;
        font-size: 12px;
             justify-content: "center";
    }

        .btn-squared-default-plain:hover
        {
            border: 0px solid white;
        }
</style>


<script type="text/javascript" src="js/popper.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>


   <script>
    $( function()
    {
      $('[data-toggle="popover"').popover( )
    } );
    $('.btn').popover();
$("#popover").popover({ trigger: "hover" });
$('.btn').on('click', function (e) {
    $('.btn').not(this).popover('hide');
});

    </script>
<script language="JavaScript" type="text/javascript">
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 2000
    })
  });    
</script>
</html>