html,body{height: 100%;
padding:0!important; 
    margin:0 !important;

background: url("https://static.pexels.com/photos/374073/pexels-photo-374073.jpeg")center center;


 background-size: 110% 180%;

justify-content: center;

}

.headbar{
width:100%;
  height: 100px;
  position: absolute;
  top: 5%;
  left: 0%;
  margin-top: -50px;
  background: black;
}

.container1{
height:120%;
	width: 600px;
	margin: 0 auto;
	text-align: center;
	background: rgba(255,130,0,0.8);
	}

.title{
 width: 100%;
  height: 100%;
  position: absolute;
  top: 20%;
  left:0%;
  margin-top: -50px;
}

/*.baright{
	width: 25%;
	height: 150%;
	position: absolute;
	top: 20%;
	right: 75%;
	margin-top: -50px;
	background:  orange;
}

.barleft{
	width: 25%;
	height: 150%;
	position: absolute;
	top: 20%;
	left: 75%;
	margin-top: -50px;
	background: orange;
}*/

.nombre{
	width: 100%;
  height: 110%;
  position: absolute;
  top: 35%;
  right: 0%;
  margin-top: -50px;
}

.invitados{
	width: 100%;
  height: 110%;
  position: absolute;
  top: 45%;
  right: 0%;
  margin-top: -50px;
}

.formalidad{
	width: 100%;
  height: 110%;
  position: absolute;
  top: 55%;
  right: 0%;
  margin-top: -50px;
}

.ubicacion{
	width: 100%;
  height: 110%;
  position: absolute;
  top: 65%;
  right: 0%;
  margin-top: -50px;
}

.descripcion{
	width: 100%;
  height: 110%;
  position: absolute;
  top: 75%;
  right:0%;
  margin-top: -50px;
}

.fecha{
	width: 100%;
  height: 110%;
  position: absolute;
  top: 85%;
  right: 0%;
  margin-top: -50px;
}

.fechal{
	width: 100%;
  height: 110%;
  position: absolute;
  top: 95%;
  right: 0%;
  margin-top: -50px;
}

/*input{
	padding: 10px;
	font-size: inherit;
}*/


input[type="text" ]{
	margin: 5px;
	width: 320px;
	color: gray;
}



