.wraptocenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 600px;
  background-color: #999;
}
.wraptocenter * {
  vertical-align: middle;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body{

	height:100%;
}
body{
padding:0!important; 
    margin:0 !important;

background: url("https://static.pexels.com/photos/374073/pexels-photo-374073.jpeg") no-repeat center center;


 background-size: 110% 180%;

justify-content: center;

}
#navigation,.navbar .navbar-default{
      background-image: url("LogoTransp.png"); /* assuming img folder is one step back from css*/
    }
.container{
height:100%;
	width: 600px;
	margin: 0 auto;
	text-align: center;
}
.headbar{
width:100%;
  height: 100px;
  position: absolute;
  top: 5%;
  left: 0%;
  margin-top: -50px;

  background: #C95B00;
}
.centerbar{
	 border-radius: 12px;
 width: 600px;
  height: 100px;
  position: absolute;
  top: 60%;
  left: 30%;
  margin-top: -50px;
  margin-left: -50px;
  background: rgba(255, 114, 0, 0.7);


}
.LogoBar{
 width: 200px;
  height: 200px;
  position: absolute;
  top: 15%;
  left: 42%;
  margin-top: -50px;
  margin-left: -50px;
 
  background-image: url("LogoTransp.png");

}
.underbar{	
 width: 100%;
  height: 300px;
  position: absolute;
  top: 90%;
  left:0%;
  margin-top: -50px;
 opacity: 0.9;
    filter: alpha(opacity=90);
  background: black;
}
.leftbar{
 width: 50%;
  height: 110%;
  position: absolute;
  top: 20%;
  left:0%;
  margin-top: -50px;

 background: rgba(0,34,186,.7);
}

.rightbar{
 width: 50%;
  height: 110%;
  position: absolute;
  top: 20%;
  left:50%;
  margin-top: -50px;

  background: rgba(255,128,0,.5);
}

.subrightbar{
 width: 100%;
  height: 100%;
  position: absolute;
  top: 20%;
  left:0%;
  margin-top: -50px;

}
.carouselblock{
 width: 90%;
  height: 90%;
  position: absolute;
  top: 0%;
  left:0%;
  margin-top: 20px;
  margin-left: 30px;
 
}
.bigbar{
 width: 100%;
  height: 110%;
  position: absolute;
  top: 20%;
  left:0%;
  margin-top: -50px;

  background: rgba(255,128,0,.3);


}
.subbigbar{
 width: 60%;
  height: 60%;
  position: absolute;
  top: 20%;
  left:20%;
  margin-top: -50px;



}
@font-face{

    font-family: 'SCRIPTBL';
    src: url(SCRIPTBL.TTF);
            }
.fuentecita{
font-family: 'SCRIPTBL';


}
.bigbluebar{
 width: 100%;
  height: 110%;
  position: absolute;
  top: 20%;
  left:0%;
  margin-top: -50px;

 background: rgba(0,34,186,.3);


}
.bigtranspbar{
 width: 100%;
  height: 100%;
  position: absolute;
  top: 20%;
  left:0%;
  margin-top: -50px;




}

.notifbar{
 width: 100%;
  height: 10%;
  position: absolute;
  top: 21%;
  left:0%;
  margin-top: -50px;
background: rgba(0,34,186,.5);


}
.bignotifbar{
 width: 95%;
  height: 70%;
  position: absolute;
  top: 20%;
  left:1%;
  margin-top: -50px;

background: rgba(255,119,0,.5);


}
.subbigbluebar{
 width: 60%;
  height: 60%;
  position: absolute;
  top: 20%;
  left:20%;
  margin-top: -50px;




}
.subcurevents{
 width: 60%;
  height: 60%;
  position: absolute;
  top: 20%;
  left:15%;
  margin-top: -50px;



}

.currentevents{
width: 20%;
  height: 80%;
  position: absolute;
  top: 25%;
  left:1%;


  background: rgba(255,128,0,.9);
border-radius: 10px;
    border: 2px solid(255,128,0,.9);
}
.monthevents{
width: 20%;
  height: 80%;
  position: absolute;
  top: 25%;
  left:79%;


  background: rgba(255,128,0,.9);
border-radius: 10px;
    
}
.subcureventsblue{
 width: 60%;
  height: 60%;
  position: absolute;
  top: 20%;
  left:30%;
  margin-top: -50px;

  


}
.currenteventsblue{
width: 20%;
  height: 80%;
  position: absolute;
  top: 25%;
  left:1%;

border-radius: 10px;
background: rgba(0,11,255,.9);

}
.montheventsblue{
width: 20%;
  height: 80%;
  position: absolute;
  top: 25%;
  left:79%;


  border-radius: 10px;
 background: rgba(0,34,186,.9);

}


/*PARA FONDO BOTONES DE LA DERECHA*/
   .black-background {background-color:#FFC900;}
.white {color:black;}

.brand {height: 50px; }
.navbar-brand {
    position: relative;
    background: url("LogoTransp.png");
    width: 72px;
    height:72px;
    left: 15px;
        line-height: 20px;
    background-size: contain;
}