
<body>
{{title}}

You got mail!
//{{user}}
</body>

/*
<h1> Quires aceptar?  < /h1>

<p> El nombre es:  {{first_name}} {{last_name}} da <a href = "http:52.14.139.207:3000/photographers/accept-photo/{{email}}" > click aqui </a> </p>*/