<!DOCTYPE html>
<html>
<head>
  <title>Calendario</title>
 <link href='/app/css/fullcalendar.min.css' rel='stylesheet' />
 <link href='/app/css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
 <link href="https://fullcalendar.io/js/fullcalendar-3.5.1/demos/themes.html">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link href="/app/css/estilo.css" rel="stylesheet">

                              
</head>

 <style>
body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px 28px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FF8000;
}

.active {
    background-color: #2E9AFE;
}
</style>
</head>
<body>

<ul>
    <li><a href="http://mydailyevent.com/login#_=_" class="navbar-brand"><img src="/app/dailyJustLogo.png" height="100%"; width="100%"; align="middle">
      </a></li>
      <li><a href="http://mydailyevent.com/perfil"><span class="glyphicon glyphicon-user"></span></a></li>
      <li><a href="http://mydailyevent.com/notif"><span class="glyphicon glyphicon-bell"></span></a></li>
</ul>


<body>
<br>
				<br>
				<br>
				<br>
				<br>

	




<div id='calendar'></div>


</body>
 




 
 <script src='/app/js/moment.min.js'></script>
<script src='/app/js/jquery.min.js'></script>
<script src='/app/js/fullcalendar.min.js'></script>
<script src="/app/js/events.js"></script>
<script src="/app/js/calendario.js"></script>


</html>