<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/app/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link href="/app/css/estilo.css" rel="stylesheet">
 <link href="/app/css/buttonanimate.css" rel="stylesheet">  //Boton crear evento
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<div class="headbar">

</div>

<body>
<div class="container">
<div class="centerbar">
<div class="centerbar1">
<font size="6" color="white">

<div class="col"></div>
    
                 
       <form method="POST" action="http://mydailyevent.com:80/paypal_create">
       <div class="text-center"> 

        Tu pago fue cancelado.
        
        </div>
       </form>
  
</font>
</div>
</div>
</div>











<!-- 
CODIGO ENRIQUE NAVBAR -->
<style>
body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px 28px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FF8000;
}

.active {
    background-color: #2E9AFE;
}
</style>



</div>

<ul>
  <li><a href="#home" class="navbar-brand"><img src="/app/dailyJustLogo.png" height="100%"; width="100%"; align="middle">
  </a></li>
  <li><a href="#home"><span class="glyphicon glyphicon-home"></span></a></li>
  <li><a href="http://mydailyevent.com/perfil"><span class="glyphicon glyphicon-user"></span></a></li>
  <li><a href="http://mydailyevent.com/notif"><span class="glyphicon glyphicon-bell"></span></a></li>
  <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->
  <li style="float:right"><a href="http://mydailyevent.com/calendar"><button class="btn btn-outline-success" type="button">CALENDARIO</button></a></li>
   <div class="divider"/></div>

   

  <li style="float:right">
  <button class="btn btn-outline-success" id= "botoncrear" data-dialog="somedialog"  name= "botoncrear">
  CREAR EVENTO</button>
  </li>
     <div class="divider"/></div>

      


</ul>
<style>
    .btn-squared-default
    {
        width: 100px !important;
        height: 100px !important;
        font-size: 12px;
text-align:center;
 padding-left:6px ;
        justify-content: "center";
    }

        .btn-squared-default:hover
        {
            border: 0px solid white;
           text-align:center;
        justify-content: "center";
        }

    .btn-squared-default-plain
    {
        width: 100px !important;
        height: 100px !important;
        text-align:center;
 padding-left:6px ;
        font-size: 12px;
             justify-content: "center";
    }

        .btn-squared-default-plain:hover
        {
            border: 0px solid white;
        }
</style>


<script type="text/javascript" src="/app/js/popper.js"></script>
<script type="text/javascript" src="/app/js/script.js"></script>
<script type="text/javascript" src="/app/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/app/js/bootstrap.js"></script>
<script type="text/javascript" src="/app/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/app/js/buttonanimate.min.js"></script> 

   <script>
    $( function()
    {
    	$('[data-toggle="popover"').popover( )
    } );
    $('.btn').popover();
$("#popover").popover({ trigger: "hover" });
$('.btn').on('click', function (e) {
    $('.btn').not(this).popover('hide');
});

    </script>

    </body>

</html>
