<!DOCTYPE html>
<html>
<head>
  <title>Donaciones</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/app/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link href="/app/css/estilo.css" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<div class="headbar">

</div>

<body>
<div class="container">
<div class="centerbar">
<div class="centerbar1">
<font size="6" color="white">

<div class="col"></div>
    
                 
       <form method="post" action="http://mydailyevent.com:80/paypal_create">
       <div class="text-center"> 

        <input  class="form-control" name="qty" id="qty" type="text" size="4" > 
        <button type="submit" style="color:white; background-color:orange" class="btn btn-outline-success">DONAR</button>
        </div>
       </form>
  
</font>
</div>
</div>
</div>











<!-- 
CODIGO ENRIQUE NAVBAR -->
<style>
body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px 28px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FF8000;
}

.active {
    background-color: #2E9AFE;
}
</style>



</div>

      <ul>
      <li><a href="http://mydailyevent.com/login#_=_" class="navbar-brand"><img src="/app/dailyJustLogo.png" height="100%"; width="100%"; align="middle">
      </a></li>
      <li><a href="http://mydailyevent.com/perfil"><span class="glyphicon glyphicon-user"></span></a></li>
      <li><a href="http://mydailyevent.com/notif"><span class="glyphicon glyphicon-bell"></span></a></li>
      <li>
      <a href="http://mydailyevent.com/donate">
          <button type="submit" style="color:white; background-color:orange" class="btn btn-outline-success btn-sm">DONAR</button>
          
      </a>
     </li>
      <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->
      <li style="float:right"><a href="http://mydailyevent.com/calendar"><button class="btn btn-primary btn-sm" type="button">CALENDARIO</button></a></li>
<br>

     

   <div class="divider"/></div>
  
</ul>
   <!-- Modal -->
    <div class="modal fade" id="botoncrear1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
       
          <div class="modal-body">


          <form>
        
            </br>
            <div class="form-group">
            <label for="usr">Nombre:</label>
            <input type="text" class="form-control" id="nombreevento">
            </div>
            </br>
            <div class="form-group">
            <label for="usr">Fecha:</label>
            <input type="date" class="form-control" id="fecha">
           
            </div>
            </br>
            <div class="form-group">
            <label for="usr">Hora:</label>
            <input type="time" class="form-control" id="hora">
            </div>
             </br>
            <div class="form-group">
            <label for="usr">Ubicación:</label>
            <input type="text" class="form-control" id="ubicacion">
            </div>
                </br>
            <div class="form-group">
            <label for="usr">Invitados:</label>
              <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
   <!--      <form method="POST" action="http://mydailyevent.com:80/confirmmail">
   
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input type="text" id="name" class="form-control" name="name" placeholder="Nombre" />
  </div>

   <br>
   
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
    <input type="text" id="email" class="form-control" name="email" placeholder="Email" />
  </div>

    <br>
 
      <label  style="color:white">Al dar clic, te enviaremos un correo de confirmación</label>
   <button type="submit" style="color:white; background-color:orange" class="btn btn-lg btn-block">Crear usuario</button>

</form> -->
            <input type="text" class="form-control" id="invitados">
            </div>
        </br>
            <div class="form-group">
            <label for="usr">Formalidad:</label>
            <input type="text" class="form-control" id="formalidad">
            </div>

            </br>
            <div class="form-group">
            <label for="usr">Estado:</label>
            <input type="text" class="form-control" id="estado">
            </div>


          <li style="float:right">
          <button class="btn btn-outline-success" id= "botoncrear"  name= "botoncrear">
          CREAR EVENTO</button>
          </li>

      
</form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


<script type="text/javascript" src="/app/js/popper.js"></script>
<script type="text/javascript" src="/app/js/script.js"></script>
<script type="text/javascript" src="/app/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/app/js/bootstrap.js"></script>
<script type="text/javascript" src="/app/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/app/js/buttonanimate.min.js"></script> 

   <script>
    $( function()
    {
    	$('[data-toggle="popover"').popover( )
    } );
    $('.btn').popover();
$("#popover").popover({ trigger: "hover" });
$('.btn').on('click', function (e) {
    $('.btn').not(this).popover('hide');
});

    </script>

    </body>

</html>
