<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/app/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link href="/app/css/estilo.css" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<div class="headbar">

</div>
<body>
<div class="container">



</body>

<div class="leftbar">
<font size="6" color="white">
<header>Invitado</header>
</font>
<div class="subrightbar">
<div class="carouselblock">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/app/FiestaNoche.jpg" alt="Fiesta De Noche">
      <div class="carousel-caption">
        <h3 style= "background-color: rgba(255,60,0,.7);">Fiesta de Noche</h3>
        <p style= "background-color: rgba(0,0,0,.8);">Todo listo para este viernes</p>
      </div>
    </div>

    <div class="item">
      <img src="/app/Bungalow.jpg" alt="Chicago">
      <div class="carousel-caption">
        <h3 style= "background-color: rgba(255,60,0,.7);">Viaje Familiar</h3>
        <p style= "background-color: rgba(0,0,0,.8);">Faltan 5 por confirmar</p>
      </div>
    </div>

    <div class="item">
      <img src="/app/FiestaNoche.jpg" alt="New York">
      <div class="carousel-caption">
        <h3 style= "background-color: rgba(255,60,0,.7);">Fiesta de Cumpleaños</h3>
        <p style= "background-color: rgba(0,0,0,.8);">Faltan 2 por confirmar</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div>
<pre style="background-color:rgba(10,10,10,0); border-color:rgba(10,10,10,0);"></pre>
<div id="botoneseventos">
  	
          </div>
  		</div>
</div>
</div>
</div>








<div class="rightbar">
<font size="6" color="white" face="SCRIPTBL.TTF" >
<header>Administrador</header>
</font>
<div class="subrightbar">
<div class="carouselblock">
<div id="myCarousel1" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel1" data-slide-to="1"></li>
    <li data-target="#myCarousel1" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
    
      <img src="/app/Cena.jpg" alt="Comedor">
      <div class="carousel-caption">
        <h3 style= "background-color: rgba(0,213,255,.7);">Comedor</h3>
        <p style= "background-color: rgba(0,0,0,.8);">Faltan 5 personas por confirmar</p>
      </div>
    </div>

    <div class="item">
      <img src="/app/Bungalow.jpg" alt="Chicago">
      <div class="carousel-caption">
        <h3 style= "background-color: rgba(0,213,255,.7);">Viaje Campestre</h3>
        <p style= "background-color: rgba(0,0,0,.8);">Falta poner fecha</p>
      </div>
    </div>

    <div class="item">
      <img src="/app/FiestaNoche.jpg" alt="New York">
      <div class="carousel-caption">
        <h3 style= "background-color: rgba(255,60,0,.7);">Fiesta Graduación</h3>
        <p style= "background-color: rgba(0,0,0,.8);">Falta poner lugar</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel1" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
<div>
<pre style="background-color:rgba(10,10,10,0); border-color:rgba(10,10,10,0);"></pre>
  		<button type="button" style="text-align:center !important; padding-left:6px" class="btn btn-squared-default btn btn-warning black-background white text-left" data-container="body" data-html= "true" data-toggle="popover" data-placement="right" data-content="Estado: Todo Listo <br/>Fecha: Viernes<br/>Hora:1:00 pm <br/>Ubicación:Restaurante Campestre<br/>Invitados:15<br/>Casual"  >

  			Cumpleaños
  		</button>

  		<button type="button" style="text-align:center !important; padding-left:6px" class="btn btn-squared-default btn btn-warning black-background white text-left" data-container="body" data-html= "true" data-toggle="popover" data-placement="right" data-content="Estado: Falta especificar hora<br/>Fecha: Sábado <br/>Hora: Pendiente <br/>Ubicación:UP<br/>Invitados:25<br/>Ropa Deportiva"  >

  			Partido
  		</button>

  		<button type="button" style="text-align:center !important; padding-left:6px" class="btn btn-squared-default btn btn-warning black-background white  text-left" data-container="body" data-html= "true" data-toggle="popover" data-placement="right" data-content="Estado: Falta especificar lugar <br/>Fecha: Martes 1 Diciembre <br/>Hora:1:00 pm <br/>Ubicación:Pendiente<br/>Invitados:10<br/>Formal"  >

  			Junta RH
  		</button>

  		<button type="button" style="text-align:center !important; padding-left:6px" class="btn btn-squared-default btn btn-warning black-background white text-left" data-container="body" data-html= "true" data-toggle="popover" data-placement="right" data-content="Estado: Faltan 2 confirmados <br/>Fecha: Todos los Domingos <br/>Hora:9:00 am<br/>Ubicación:Esc. de Idiomas <br/>Invitados:20<br/>Casual"  >

  			Grupo de Inglés
  		</button>

  		<pre style="background-color:rgba(10,10,10,0); border-color:rgba(10,10,10,0);"></pre>


  		<button type="button" style="text-align:center !important; padding-left:6px" class="btn btn-squared-default btn btn-warning black-background white text-left" data-container="body" data-html= "true" data-toggle="popover" data-placement="right" data-content="Estado: Falta especificar hora<br/>Fecha: Lunes 3 Enero <br/>Hora: Pendiente <br/>Ubicación:Casa<br/>Invitados:35<br/>Casual"  >

  			Reunión Familiar
  		</button>
  			<button type="button" style="text-align:center !important; padding-left:6px" class="btn btn-squared-default btn btn-warning black-background white text-left" data-container="body" data-html= "true" data-toggle="popover" data-placement="right" data-content="Estado: Falta especificar hora y fecha<br/>Fecha: Pendiente <br/>Hora: Pendiente <br/>Ubicación:Expo GDL<br/>Invitados:250<br/>Formal"  >

  			Expo Negocios
  		</button>

  		</div>
</div>
</div>
</div>
</div>


<div clas="rightbar">


<!-- 
CODIGO ENRIQUE NAVBAR -->
<style>
body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px 28px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FF8000;
}

.active {
    background-color: #2E9AFE;
}
</style>
</head>
<body>


<ul>
  <li><a href="#home" class="navbar-brand"><img src="/app/dailyJustLogo.png" height="100%"; width="100%"; align="middle">
  </a></li>
  <li><a href="#home"><span class="glyphicon glyphicon-home"></span></a></li>
  <li><a href="#user"><span class="glyphicon glyphicon-user"></span></a></li>
<<<<<<< HEAD
  <li><a href="http://mydailyevent.com/notif"><span class="glyphicon glyphicon-bell"></span></a></li>
=======
  <li><a href="/app/http://mydailyevent.com/dailyevent/Notificaciones.html"><span class="glyphicon glyphicon-bell"></span></a></li>
>>>>>>> 5bf3a4324cad255a223034b79972af3a864d33d5
  <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->
  <li style="float:right"><button class="btn btn-outline-success" type="button">CALENDARIO</button></li>
   <div class="divider"/></div>
  <li style="float:right"><button class="btn btn-outline-success" id= "botoncrear"   name= "botoncrear" type="button">CREAR EVENTO</button></li>
     <div class="divider"/></div>
 <div class="col-xs-2">
        

                            
     <form method="POST" action="http://mydailyevent.com:80/paypal_create">
    <input class="form-control" id="qty" type="text">
     <button type="submit" style="color:white; background-color:orange" class="btn btn-outline-success">DONAR</button>
     </form>
  </div>
       
</ul>
<style>
    .btn-squared-default
    {
        width: 100px !important;
        height: 100px !important;
        font-size: 12px;
text-align:center;
 padding-left:6px ;
        justify-content: "center";
    }

        .btn-squared-default:hover
        {
            border: 0px solid white;
           text-align:center;
        justify-content: "center";
        }

    .btn-squared-default-plain
    {
        width: 100px !important;
        height: 100px !important;
        text-align:center;
 padding-left:6px ;
        font-size: 12px;
             justify-content: "center";
    }

        .btn-squared-default-plain:hover
        {
            border: 0px solid white;
        }
</style>


<script type="text/javascript" src="/app/js/popper.js"></script>
<script type="text/javascript" src="/app/js/script.js"></script>
<script type="text/javascript" src="/app/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/app/js/bootstrap.js"></script>
<script type="text/javascript" src="/app/js/bootstrap.min.js"></script>


   <script>
    $( function()
    {
    	$('[data-toggle="popover"').popover( )
    } );
    $('.btn').popover();
$("#popover").popover({ trigger: "hover" });
$('.btn').on('click', function (e) {
    $('.btn').not(this).popover('hide');
});

    </script>

</html>