<!DOCTYPE html>
<html>
<head>
<title>Notificaciones</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/app/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link href="/app/css/estilo.css" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="headbar">

</div>
<body>
<div class="container">



</body>


<div class="notifbar">


</div>


<div class="bigtranspbar">
<font color="white">
<h1 align="left">&nbsp &nbsp Notificaciones <span class="label label-default">4</span></h1>
</font>
<div class="bignotifbar">
<div class="panel panel-danger">
      <div class="panel-heading" align="left"> &nbsp &nbsp &nbsp Comedor</div>
      <div class="panel-body" style="background-color: rgb(240,240,255)"  align="left">No has confirmado asistencia. Házlo antes de las 12:00 am.
      &nbsp &nbsp &nbsp
        <button type="button" style="text-align:center !important; padding-left:6px" class="btn btn-default btn btn-info black-background white text-left" data-container="body">
        Ver Evento
      </button>
      </div>
</div>
<div class="panel panel-danger">
      <div class="panel-heading" align="left"> &nbsp &nbsp &nbsp Prácticas Fútbol</div>
      <div class="panel-body" style="background-color: rgb(240,240,255)" align="left">No has confirmado asistencia. Házlo antes de las 4:00 pm
 &nbsp &nbsp &nbsp
        <button type="button" style=" background-color:rgb(240,240,255) text-align:center !important; padding-left:6px" class="btn btn-default btn btn-info black-background white text-left" data-container="body">
        Ver Evento
      </button>
      </div>      

</div>
<div class="panel panel-info">
      <div class="panel-heading" align="left"> &nbsp &nbsp &nbsp Fiesta de Sergio</div>
      <div class="panel-body" style="background-color: rgb(240,240,255)"  align="left">Sergio te invitó a su evento. La fecha, lugar y hora están por verse.
 &nbsp &nbsp &nbsp
        <button type="button" style="text-align:center !important; padding-left:6px" class="btn btn-default btn btn-info black-background white text-left" data-container="body">
        Ver Evento

      </button>
      </div>



<div class="panel panel-info">
      <div class="panel-heading" align="left"> &nbsp &nbsp &nbsp Reunión</div>
      <div class="panel-body" style="background-color: rgb(240,240,255)"  align="left">Tu evento es el lunes. Aún no has definido lugar.
 &nbsp &nbsp &nbsp
        <button type="button" style="text-align:center !important; padding-left:6px" class="btn btn-default btn btn-info black-background white text-left" data-container="body">
        Ver Evento
      </button>
      </div>      

</div>

  <!-- Left and right controls -->















      


  
</div>
</div>
</div>
</div>


<div clas="rightbar">
<!-- 
CODIGO ENRIQUE NAVBAR -->


</div>

<style>
body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px 28px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FF8000;
}

.active {
    background-color: #2E9AFE;
}
</style>
</head>
<body>

 <ul>
      <li><a href="http://mydailyevent.com/login#_=_" class="navbar-brand"><img src="/app/dailyJustLogo.png" height="100%"; width="100%"; align="middle">
      </a></li>
      <li><a href="http://mydailyevent.com/perfil"><span class="glyphicon glyphicon-user"></span></a></li>
      <li><a href="http://mydailyevent.com/notif"><span class="glyphicon glyphicon-bell"></span></a></li>
      <li>
      <a href="http://mydailyevent.com/donate">
          <button type="submit" style="color:white; background-color:orange" class="btn btn-outline-success btn-sm">DONAR</button>
          
      </a>
     </li>
      <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->
      <li style="float:right"><a href="http://mydailyevent.com/calendar"><button class="btn btn-primary btn-sm" type="button">CALENDARIO</button></a></li>
<br>

     

   <div class="divider"/></div>
  
</ul>
   <!-- Modal -->
    <div class="modal fade" id="botoncrear1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
       
          <div class="modal-body">


          <form>
        
            </br>
            <div class="form-group">
            <label for="usr">Nombre:</label>
            <input type="text" class="form-control" id="nombreevento">
            </div>
            </br>
            <div class="form-group">
            <label for="usr">Fecha:</label>
            <input type="date" class="form-control" id="fecha">
           
            </div>
            </br>
            <div class="form-group">
            <label for="usr">Hora:</label>
            <input type="time" class="form-control" id="hora">
            </div>
             </br>
            <div class="form-group">
            <label for="usr">Ubicación:</label>
            <input type="text" class="form-control" id="ubicacion">
            </div>
                </br>
            <div class="form-group">
            <label for="usr">Invitados:</label>
              <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
   <!--      <form method="POST" action="http://mydailyevent.com:80/confirmmail">
   
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input type="text" id="name" class="form-control" name="name" placeholder="Nombre" />
  </div>

   <br>
   
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
    <input type="text" id="email" class="form-control" name="email" placeholder="Email" />
  </div>

    <br>
 
      <label  style="color:white">Al dar clic, te enviaremos un correo de confirmación</label>
   <button type="submit" style="color:white; background-color:orange" class="btn btn-lg btn-block">Crear usuario</button>

</form> -->
            <input type="text" class="form-control" id="invitados">
            </div>
        </br>
            <div class="form-group">
            <label for="usr">Formalidad:</label>
            <input type="text" class="form-control" id="formalidad">
            </div>

            </br>
            <div class="form-group">
            <label for="usr">Estado:</label>
            <input type="text" class="form-control" id="estado">
            </div>


          <li style="float:right">
          <button class="btn btn-outline-success" id= "botoncrear"  name= "botoncrear">
          CREAR EVENTO</button>
          </li>

      
</form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


<script type="text/javascript" src="js/popper.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>


   <script>
    $( function()
    {
      $('[data-toggle="popover"').popover( )
    } );
    $('.btn').popover();
$("#popover").popover({ trigger: "hover" });
$('.btn').on('click', function (e) {
    $('.btn').not(this).popover('hide');
});

    </script>
<script language="JavaScript" type="text/javascript">
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 2000
    })
  });    
</script>
</html>