

<!DOCTYPE html>
<html>
<head>
<title>Bienvenido a Daily Event</title>
<link href="/app/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link href="/app/css/estilo.css" rel="stylesheet">

    <link href="/app/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/app/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
   <link href="/app/dist/css/sb-admin-2.css" rel="stylesheet">
<link href="/app/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>


<body>

        
<div class="row">
    <div class="col-md-12">
    <br>
    <br>
    <br>
    <br>
    <center>
      <img src="/app/LogoTransp.png" style="width:310px;height:310px; top: -10%;left: -30%;  ">
      </center>
    </div> 
    <div class="col-md-12">

<div class="row">
            <div class="col-md-4 col-md-offset-4" style="background-color:rgba(0,0,0,0); border-color: rgba(0,0,0,0)">
                <div class="login-panel panel panel-default"  style="background-color:rgba(0,0,0,0);border-color: rgba(0,0,0,0)">
                    <div class="panel-body" style="background-color:rgba(0,0,0,0);border-color: rgba(0,0,0,0)">
                   <!--      <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input id="email" class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                                </div>
                                <div class="form-group">
                                    <input id="password" class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>

                                <input id="submitbtn" type="text" class="btn btn-lg btn-warning btn-block" value="Login">
                            </fieldset>
                        </form>
 -->                    
      


 

     <form method="POST" action="http://mydailyevent.com:80/confirmmail">
   
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input type="text" id="name" class="form-control" name="name" placeholder="Nombre" />
  </div>

   <br>
   
  <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
    <input type="text" id="email" class="form-control" name="email" placeholder="Email" />
  </div>

    <br>
 
      <label  style="color:white">Al dar clic, te enviaremos un correo de confirmación</label>
   <button type="submit" style="color:white; background-color:orange" class="btn btn-lg btn-block">Crear usuario</button>

</form>











                        <form action="http://mydailyevent.com:80/loginFB" method="POST">
                           <button type="submit" style="color:white; background-color:blue" class="btn btn-lg btn-block" >
                               <i class="fa fa-facebook" style="font-size: 25px"></i> &nbsp;&nbsp;
                           Conectate con Facebook
                           </button>
                           
                       </form>

                    </div>
                </div>
        
        </div>
    </div>
    </div>
</div> 
<!-- <div class="container">


</div> -->

<!-- <img src = "SimpleArrow.png" style="width:100px;height:100px; left: 25%;  margin-top: 100px; margin-left: 350px;">
<img src = "SimpleArrow.png" style="width:100px;height:100px; left: 80%;  margin-top: 100px; margin-left: 340px;"> -->



<!-- <div class="centerbar">
<font size="3"; color="white">
<p align="middle">
<br>
 &iquestAlg&uacuten evento en mente? Nosotros te ayudamos a que todos tus invitados se mantengan al d&iacutea</p>
 </font>
 
</div> -->




</body>

<style>
body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px 28px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FF8000;
}

.active {
    background-color: #2E9AFE;
}
</style>
</head>
<body>

<ul>
  <li><a href="#" class="navbar-brand"><img src="/app/dailyJustLogo.png" height="100%"; width="100%"; align="middle">
  </a></li>
<!--   <li><a href="file:///C:/Users/Enrique/Desktop/DailyEvent/MainPage.html"><span class="glyphicon glyphicon-home"></span></a></li>
  <li><a href="#user"><span class="glyphicon glyphicon-user"></span></a></li>
  <li><a href="file:///C:/Users/Enrique/Desktop/DailyEvent/Notificaciones.html"><span class="glyphicon glyphicon-bell"></span></a></li> -->


  <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->

<!--   <li style="float:right"><button class="btn btn-outline-success" type="button">CALENDARIO</button></li>


   <div class="divider"/></div>
  <li style="float:right"><button class="btn btn-outline-success" type="button">CREAR EVENTO</button></li> -->
</ul>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>


</html>

