<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link href="/app/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link  rel = "stylesheet" href="/app/css/estiloc.css"><!--Funciono por el orden en el que la puse-->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link  href="/app/css/estilo.css" rel = "stylesheet"><!--Funciono por el orden en el que la puse-->
</head>
 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<body>
<div class = "backgroundImage"></div>

  
<ul>
  <li><a href="#" class="navbar-brand"><img src="/app/dailyJustLogo.png" height="100%"; width="100%"; align="middle">
  </a></li>
  <li><a href="#home"><span class="glyphicon glyphicon-home"></span></a></li>
  <li><a href="#user"><span class="glyphicon glyphicon-user"></span></a></li>
  <li><a href="#notification"><span class="glyphicon glyphicon-bell"></span></a></li>
  <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->
  <li style="float:right"><button class="btn btn-outline-success" type="button">CALENDARIO</button></li>
   <div class="divider"/></div>
  <li style="float:right"><button class="btn btn-outline-success" type="button">CREAR EVENTO</button></li>
</ul>



<div class = "clase_perfil_informacionUsuario">
  <div class = "container">

    <div class = "row justify-content-center">
      
      <div class = "col-4"></div>
      
      <div class="col-4">
        <center> 
          <div class="center-block">
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src="/app/images/Portrait.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
            <h1 >Juanito</h1>
            <button type = "button" class="btn btn-danger">Cerrar sesion</button>
          </div>
        </center>
       
      
      </div>
   <div class = "col-4"></div>


  </div>
</div>

</body>


  <!-- <li><a href="#" class="navbar-brand"><img src="dailyJustLogo.png" height="100%"; width="100%"; align="middle">
  </a></li> -->
  <!-- <li><a href="#home"><span class="glyphicon glyphicon-home"></span></a></li>-->
  <!-- <li><a href="#user"><span class="glyphicon glyphicon-user"></span></a></li>-->
  <!-- <li><a href="#notification"><span class="glyphicon glyphicon-bell"></span></a></li>-->
  <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->


 <!-- <li style="float:right"><button class="btn btn-outline-success" type="button">CALENDARIO</button></li>
   <div class="divider"/></div>
  <li style="float:right"><button class="btn btn-outline-success" type="button">CREAR EVENTO</button></li>
  -->




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script type="text/JavaScript" src = "/app/js/script.js"></script>

</html>