<!DOCTYPE html>
<html lang="en">

<head>
<title>Ver Perfil</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/app/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link href="/app/css/estilo.css" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body class="bg-info">

<div class="headbar">
<div class="container">
</div>
   


    <div class = "row">
      <div class="col-md-4 col-lg-4 bg-primary">
        <div class="text-center">
          <br>
          <img  src="/app/foto.jpg" class="rounded-circle" alt="Cinque Terre" width="304" height="236">
          <h2 >Constantino Valenzuela</h2>
          <h7>constantino_valenzuela@hotmail.com</h7>
          <br><br>
          <button type = "button" class="btn btn-danger">Cerrar sesion</button>
          <br><br>
        </div>
      </div>

      <div class="col-md-6 col-lg-4"></div>
      <div class="col-md-2 col-lg-4 bg-primary">
      <div class="mx-auto" style="width: 200px;">
        <br>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Evento</div>
            <div class="card-body">
              <h4 class="card-title">Reunión</h4>
              <p class="card-text">Todos los invitados confirmaron.</p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
          <div class="card-header">Evento</div>
            <div class="card-body">
              <h4 class="card-title">Comida</h4>
              <p class="card-text">Falta decidir lugar</p>
            </div>
        </div>
      </div>
      </div>
    </div>

    <div class = "row">
      <div class="col-md-4 col-lg-4 bg-secondary">

      </div>

      <div class="col-md-6 col-lg-4"></div>
      <div class="col-md-2 col-lg-4 bg-primary">

      </div>
    </div>

    <div class = "row">
      <div class="col-md-4 col-lg-4 row-height bg-secondary">
        <br>
       
      </div>

      <div class="col-md-6 col-lg-4"></div>
      <div class="col-md-2 col-lg-4 bg-primary">

      </div>
    </div>

    <!--div-->

</div>

<style>
body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px 28px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FF8000;
}

.active {
    background-color: #2E9AFE;
}
</style>



</div>

<ul>
  <li><a href="http://mydailyevent.com/login#_=_"  class="navbar-brand"><img src="/app/dailyJustLogo.png" height="100%"; width="100%"; align="middle">
  </a></li>
  
  <li><a href="http://mydailyevent.com/perfil"><span class="glyphicon glyphicon-user"></span></a></li>
  <li><a href="http://mydailyevent.com/notif"><span class="glyphicon glyphicon-bell"></span></a></li>
  <!-- <li style="float:right"><a class="active" href="#about">About</a></li> -->
  <li style="float:right"><a href="http://mydailyevent.com/calendar"><button class="btn btn-outline-success" type="button">CALENDARIO</button></a></li>
   <div class="divider"/></div>

   

 
     <div class="divider"/></div>

      


</ul>
<style>
    .btn-squared-default
    {
        width: 100px !important;
        height: 100px !important;
        font-size: 12px;
text-align:center;
 padding-left:6px ;
        justify-content: "center";
    }

        .btn-squared-default:hover
        {
            border: 0px solid white;
           text-align:center;
        justify-content: "center";
        }

    .btn-squared-default-plain
    {
        width: 100px !important;
        height: 100px !important;
        text-align:center;
 padding-left:6px ;
        font-size: 12px;
             justify-content: "center";
    }

        .btn-squared-default-plain:hover
        {
            border: 0px solid white;
        }
</style>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script type="text/JavaScript" src = "/app/js/script.js"></script>

</body>


</html>
