<body>




<a href="https://ibb.co/iXW6sb"><img src="https://preview.ibb.co/dGAcyG/Daily_Event_Mail_Img.png" alt="Daily_Event_Mail_Img" border="0"></a>

Bienvenido a Daily Event.
Nuestra página te ayudará a administrar tus eventos. 
<br>
  <a href="http://mydailyevent.com/login#_=_">Empezar a usar mydailyevent</a>

</body>